.input label {
    display: inline-block;
    margin-bottom: 10px;
}

.input input {
    width: 100%;
    border-radius: 5px;
    padding: .6rem;
    outline: none;
    border: 1px solid rgba(51, 51, 51, 0.25);
    transition: .3s;
}

.input input:focus {
    box-shadow: 0px 0px 5px var(--main-color1);
    border-color: var(--main-color1);
}