.button, .button-transparent {
    display: inline-block;
    padding: 0.8rem;
    font-size: 1rem;
    color: var(--main-color3);
    font-weight: 500;
    background-color: var(--main-color1);
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

.button:focus, .button:hover {
    box-shadow: 0 0 5px var(--main-color1);
}

.button-transparent {
    background-color: transparent;
}

.full {
    width: 100%;
}