.select-container {
    display: flex;
    align-items: center;
}

.select-container > span {
    user-select: none;
}

.select {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border: 1px solid var(--grey-color3);
    padding: 1rem;
    min-width: 15rem;
    border-radius: 5px;
    margin-left: 1.2rem;
    cursor: pointer;
}

.selected-value {
    color: var(--dark-color1);
    user-select: none;
}

.placeholder {
    font-weight: 500;
    color: var(--grey-color3);
    user-select: none;
}

.dropdown {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
    max-height: 250px;
    overflow-y: auto;
    transform: translateY(20px);
    opacity: 0;
    pointer-events: none;
    transition: .15s;
}

.open {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
}

.option {
    color: var(--dark-color1);
    font-size: 1rem;
    padding: 1rem;
    cursor: pointer;
    user-select: none;
}

.option:hover, .selected {
    background-color: var(--add-color1);
}